<div class="offers-page">
  <app-page-header [title]="i18n.t('offer_letters.title')" />
  <app-unified-filter moduleName="offer_letters" [showAddButton]="false" [showRefreshButton]="true" [refreshing]="loading()" (searchChange)="onSearchChange($event)" (refresh)="onRefreshData()" />
  <app-data-table [data]="displayData()" [columns]="tableColumns" [actions]="tableActions" [loading]="loading" [totalItems]="totalCount()" [currentPage]="currentPage()" [pageSize]="pageSize()" [pageSizeOptions]="[10, 25, 50]" [emptyTitle]="i18n.t('offer_letters.no_records_title')" [emptyMessage]="i18n.t('offer_letters.no_records')" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" (actionClick)="onTableAction($event)" />
</div>
