<div class="app-list-page">
  <app-page-header [title]="i18n.t('surveys.distributions_title')" />
  <app-unified-filter [searchPlaceholder]="i18n.t('surveys.search_distributions')" [showAddButton]="true"
    [addButtonText]="i18n.t('surveys.create_distribution')" [showRefreshButton]="true" [refreshing]="loading()"
    (searchChange)="onSearchChange($event)" (add)="onAdd()" (refresh)="onRefreshData()" />

  <!-- Filters -->
  <div class="row mb-3 g-2">
    <div class="col-md-3">
      <select class="form-select form-select-sm" [ngModel]="statusFilter()" (ngModelChange)="onStatusChange($event)">
        <option value="">{{ i18n.t('common.all') }} - {{ i18n.t('common.status') }}</option>
        @for (s of statusOptions; track s) {
          <option [value]="s">{{ i18n.t('surveys.status_' + s) }}</option>
        }
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-select form-select-sm" [ngModel]="typeFilter()" (ngModelChange)="onTypeChange($event)">
        <option value="">{{ i18n.t('common.all') }} - {{ i18n.t('surveys.type') }}</option>
        @for (t of typeOptions; track t) {
          <option [value]="t">{{ i18n.t('surveys.type_' + t) }}</option>
        }
      </select>
    </div>
  </div>

  <app-data-table [data]="tableData()" [columns]="columns" [actions]="tableActions()" [currentPage]="currentPage()"
    [totalPages]="totalPages()" [totalItems]="totalCount()" [pageSize]="pageSize()" [loading]="loading"
    [emptyTitle]="i18n.t('surveys.no_distributions')" [showPagination]="true"
    (actionClick)="onActionClick($event)" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
  </app-data-table>
</div>
