<div class="app-list-page">
  <app-page-header [title]="i18n.t('offboarding.terminations.title')" />

  <app-unified-filter
    [showAddButton]="true"
    [addButtonText]="i18n.t('offboarding.terminations.create')"
    [showRefreshButton]="true"
    [refreshing]="loading()"
    (add)="create()"
    (refresh)="loadData()">
  </app-unified-filter>

  <app-data-table
    [data]="items()"
    [columns]="tableColumns"
    [actions]="tableActions"
    [currentPage]="currentPage()"
    [totalItems]="totalCount()"
    [pageSize]="pageSize()"
    [loading]="loading"
    [emptyTitle]="i18n.t('offboarding.terminations.no_records')"
    [emptyMessage]="i18n.t('offboarding.terminations.no_records_message')"
    [showPagination]="true"
    (actionClick)="onActionClick($event)"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
    <ng-template #cellTemplate let-item let-column="column">
      @if (column.key === 'clearanceStatus') {
        <app-status-badge
          [status]="getClearanceVariant(item.clearanceStatus)"
          [label]="i18n.t('offboarding.clearance_statuses.' + item.clearanceStatus)">
        </app-status-badge>
      } @else if (column.key === 'terminationType') {
        {{ i18n.t('offboarding.termination_types.' + item.terminationType) }}
      } @else if (column.key === 'terminationDate' || column.key === 'lastWorkingDate') {
        {{ formatDate(item[column.key]) }}
      } @else {
        {{ item[column.key] }}
      }
    </ng-template>
  </app-data-table>
</div>
